**/*.log
shadoker/**/__pycache__/
docker/**/_packages
references/**/_packages
docker/**/_imageInfo
docker/**/Dockerfile.exp.*
docker/**/*.test.yml-*
k8s/**/_build*
k8s/**/_dist*
docker-compose/coreengine-multiplexer/.env
dist/
.docker/
.pytest_cache/
*.code-workspace
.vscode/
.directory
.manifesto/
docker.test/